/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}

body {
  font-family: Arial, sans-serif;
  color: #333;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

/* Top Bar */
.header {
  width: 100%;
  height: 150px; /* Adjusted height */
  display: flex;
  justify-content:center; /* This spaces out the left and right content */
  align-items: center;
  padding: 0 1rem;
  background: #ffffff;
  border-bottom: 1px solid #e5e7eb;
}

.header .left-header {
  font-weight: bold;
  flex:85%;
  font-size: 1.2rem;
  flex-grow: 1; /* This makes the left header take up remaining space */
}

.header .right-header {
  display: flex;
  flex:1;
  align-items: flex-end;
  gap: 1rem;
  justify-content: flex-end; /* Ensures the right content aligns at the far right */
}

.header .profile {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.header .notification {
  font-size: 1.2rem;
  cursor: pointer;
}

.header .username {
  font-weight: 500;
  cursor: pointer;
}

/* Layout: Sidebar and Main Content */
.layout {
  display: flex;
  flex: 1;
}

/* Sidebar */
.sidebar {
  width: 350px;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  padding-right: 3rem;
  padding-left: 3rem;
  flex-shrink: 0;
}

.card {
  background: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 1rem;
  color: #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  width: 15%;
  height: 30%;
}

.card img {
  width: 100%;
  height: auto;
}

.card-body {
  padding: 0.5rem;
}

.card-title {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.3rem;
}

.card-description {
  font-size: 0.875rem;
  color: #555;
}

/* Main Content */
.main-content {
  flex: 1;
  background: #f9fafb;
  padding: 2rem;
  overflow: auto;
}

.sub-main-content {
  flex: 1;
  background: #f9fafb;
  padding: 1rem;
  overflow: auto;
  display: flex;
  border-radius: 8px;
}
